html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
    background-color: #f5ede6;
}
:root{
    --font-titles:'Lobster', cursive;
    --section-title-color:rgb(221, 221, 16);
    --button-color:rgb(232, 173, 66)
    
}
